@charset "UTF-8";

$scrollbar-width: .4em;
::-webkit-scrollbar {
  -webkit-box-shadow: none;
  width: $scrollbar-width;
}
::-webkit-scrollbar-track {
  background: $dark;
    // -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: $scrollbar-width / 2;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $primary;
}

.gdm-scrollbar {
  scrollbar-color: $primary $dark;
  scrollbar-width: thin;
}