:root {
    --accent-main: #128C8F;
    --accent-1: #91B508;
    --accent-2: #3C3C3B;
    --accent-3: #777676;
    --accent-4: #ACACAC;
    --accent-5: #EAEAEA;
    --accent-6: #e9ecef;
    
    --border-radius: 39px;
    --border-radius-sm: 10px;
    --font-main: 'Din Pro';

    --shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);;
}

.larger svg{
    --dimensions: 50px;
    height: var(--dimensions);
    width: var(--dimensions);
}

* {
    transition: 0.35s all ease;
    font-family: var(--font-main) !important;
    /* font-family: 'Din Pro' !important; */
    box-sizing: border-box;
}

body {
    /* padding-bottom: 50px; */
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: var(--accent-2);
}

p {
    font-size: 1.2rem;
}

h1 {
    font-weight: 900;
    margin-bottom: 7px;
}

h3 {
    font-weight: 700;
}

h3 + p {
    margin-top: 21px;
}

span.txt-color-white svg {
    color: white !important;
}

.clickable {
    cursor: pointer;
}

.bd-radius-sm {
    border-radius: var(--border-radius-sm);
}

/* ****************** */

.jumbotron#intro {
    height: 100vh;
    margin-bottom: 100px;
}

.section {
    height: 100vh;
}

/* CONTAINER */

    .container.section {
        height: 100vh;
    /* margin-bottom: 100px; */
    }

/* ROW */

    .row.section {
        margin-bottom: 50px;
    }

/* FLOAT BOX */

    div.backhalf + .float-box {
        margin-top: -100px;
    }

    .float-box {
        background-color: white;
        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
        padding: 50px;
    }

/* SECTION WIFI */

#wifi {
    background-image: url(../assets/images/CAT.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

/* SECTION DOWNLOAD */

#bg-phones {
    background-image: url(../assets/images/mockup/MOCKUP_COMBO.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

/* ICONS FEATHER */

    svg.feather {
        color: var(--accent-2);
    }

/* UI STYLE GUIDE */
    /* FORMS */
        :focus {
            box-shadow: none;
            outline: none;
        }

        form input {
            --padding-x: 10px;
            --padding-y: 3px;
            padding-left: var(--padding-x);
            padding-right: var(--padding-x);
            padding-top: var(--padding-y);
            padding-bottom: var(--padding-y);
            border-radius: var(--border-radius-sm);
            border: 2px solid var(--accent-main);
            text-align: center;
            font-weight: bold;
            color: var(--accent-2);
        }

        form.items-w-equal > * {
            width: 250px;
        }

        form.items-w-equal > *.input-group.date input {
            width: calc(100% / 3 - 6px);
        }

        form input::placeholder {
            color: var(--accent-4);
            text-align: center;
            font-weight: bold;
        }

        form .input-group.date {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        form .input-group.date input {
            border-radius: 0px;
        }
        
        form .input-group.date input:first-child {
            border-radius: var(--border-radius-sm) 0px 0px var(--border-radius-sm);
        }

        form .input-group.date input:last-child {
            border-radius: 0px var(--border-radius-sm) var(--border-radius-sm) 0px;
            margin-right: 0px;
        }
    
    /* KLEUREN */
        #uiStyleGuide .kleur {
            display: flex;
            align-items: center;
            justify-content: center;
            --dimensions: 100px;
            width: var(--dimensions);
            height: var(--dimensions);
            border-radius: var(--border-radius-sm);
            color: white;
            font-weight: bold;
            user-select: all;
        }

    /* NAVIGATIE */
        #uiStyleGuide .btn {
            width: fit-content;
            border-radius: var(--border-radius-sm);
            background-color: var(--accent-main);
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
            color: white;
        }

        #uiStyleGuide .btn.simple {
            padding: 0px;
            background: none;
            color: var(--accent-main);
        }

        #uiStyleGuide p.small {
            font-size: small;
            line-height: 17px;
        }

        #uiStyleGuide p.paragraph {
            font-size: 1rem;
        }

        #uiStyleGuide p.big {
            font-size: 1.3rem;
        }

        #uiStyleGuide h6.title-sm {
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            font-size: small;
        }


/* MEDIA QUERIES */

@media (min-width: 992px) {
    /* .container {
        max-width: 860px;
    }*/
}